# MTA Data Analysis

In [373]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator
import pickle
import datetime
from datetime import datetime as dt
import dateutil.parser
import seaborn as sns

plt.style.use("seaborn")

# import pickled file


def get_data(week_nums):

    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)


filename = 'bensonMTA.pkl'  # make sure this file is in the same directory as your jupyter notebook
try:
    with open(filename, 'rb') as pklfile:
        df = pickle.load(pklfile)
except:
    week_nums = [160604, 160611, 160618, 160625, 160702, 160709, 160716, 160723,
                 160730, 160806, 160813, 160820, 160827, 170603, 170610, 170617,
                 170624, 170701, 170708, 170715, 170722, 170729, 170805, 170812,
                 170819, 170826, 180602, 180609, 180616, 180623, 180630]
    df = get_data(week_nums)
    with open(filename, 'wb') as pklfile:
        df = pickle.dump(df, pklfile)

df["DATE_TIME"] = pd.to_datetime(df.DATE + " " + df.TIME, format="%m/%d/%Y %H:%M:%S")

df['time_hour'] = df.DATE_TIME.dt.hour

df['WEEKDAY'] = df['DATE_TIME'].dt.weekday

df.rename(columns={column: column.strip() for column in df.columns}, inplace=True)

df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=True)

df['real_entries'] = df['ENTRIES'].diff()
df['real_exits'] = df['EXITS'].diff()

turnstiles_df = df.copy()

df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE", "TIME"]).head()

turnstiles_df['totals'] = turnstiles_df['real_entries'] + turnstiles_df['real_exits']

(turnstiles_df.groupby(["STATION", "DATE_TIME"])).sum(
).sort_values("totals", ascending=False).head(50)

turnstiles_df = turnstiles_df.groupby(["STATION", "DATE_TIME"]).sum(
).sort_values("totals", ascending=False).reset_index()

turnstiles_df['time_hour'] = turnstiles_df['DATE_TIME'].dt.hour

turnstiles_df['WEEKDAY'] = turnstiles_df['DATE_TIME'].dt.weekday

turnstiles_df['STATION'].head(50).unique()

turnstiles_df.loc[(turnstiles_df['totals'] < 0) | (
    turnstiles_df['totals'] > 100000), 'totals'] = np.nan
turnstiles_df['totals'] = turnstiles_df['totals'].interpolate(method="linear")

eight_pm_df = turnstiles_df[turnstiles_df['time_hour'] == 20]

new_df = turnstiles_df.groupby(['STATION'])['real_entries', 'real_exits'].median()

totals = {}
for index, row in new_df.iterrows():
    totals[index] = row['real_entries'] + row['real_exits']

sorted_totals = sorted(totals.items(), key=operator.itemgetter(1), reverse=True)
#print(sorted_totals)

new_df = eight_pm_df.groupby(['STATION'])['real_entries', 'real_exits'].median()

eight_totals = {}
for index, row in new_df.iterrows():
    eight_totals[index] = row['real_entries'] + row['real_exits']

eight_sorted_totals = sorted(eight_totals.items(), key=operator.itemgetter(1), reverse=True)
#print(eight_sorted_totals)

In [ ]:
locations = []
print(len(eight_sorted_totals),len(sorted_totals))
for key, value in eight_sorted_totals:
    locations.append(key)
#locations[0]

In [242]:
from yelpapi import YelpAPI
import io, json, pprint
# read API keys (note please make your own config_secret.json)
#{
# "api_key":"YOUR API KEY HERE"
#}
with io.open('config_secret.json') as cred:
    creds = json.load(cred)
limit = 50

def count_dict(dictionary, keyname):
    dict_count = 0
    for item in dictionary.get(keyname):
        dict_count += 1
    return dict_count

def iter_search(offset,limit,loc):
    # make this more flexible in the future
    # take in json file and allow user to set new
    # parameters on the fly
    args = {
    'location': loc,
    'limit': limit,
    'offset': offset,
    'categories': 'coffee,restaurants',
    'open_at': 1530878400,  
    'radius_filter': '241.40160000000003',
    'price': '4'
    }
    search_results = yelp_api.search_query(**args)
    return search_results
    
# input location    
res_dict = {}
yelp_api = YelpAPI(**creds)

for loc in locations: # query the data base 50 offsets at a time
    dict_count = 0
    for offset in range(0,100):
        query_cnt = count_dict(iter_search(offset*limit, limit, loc),'businesses')
        dict_count += query_cnt
        if query_cnt < 50:
            break
           
          
    res_dict[loc] = dict_count  
    
#sorted_rest = sorted(res_dict.items(), key=operator.itemgetter(1), reverse=True)

#pprint.pprint(sorted_rest)

In [364]:
eight_sorted_totals

[('34 ST-HERALD SQ', 75462.0),
 ('34 ST-PENN STA', 71010.0),
 ('TIMES SQ-42 ST', 62494.0),
 ('GRD CNTRL-42 ST', 44397.0),
 ('23 ST', 42063.5),
 ('47-50 STS ROCK', 41853.0),
 ('59 ST COLUMBUS', 38911.0),
 ('59 ST', 37528.0),
 ('86 ST', 34716.0),
 ('CHAMBERS ST', 34674.0),
 ('42 ST-BRYANT PK', 31122.0),
 ('FLUSHING-MAIN', 29207.5),
 ('50 ST', 28638.0),
 ('LEXINGTON AV/53', 25864.0),
 ('ATL AV-BARCLAY', 25023.0),
 ('42 ST-PORT AUTH', 24921.0),
 ('JKSN HT-ROOSVLT', 23115.0),
 ('14 ST', 22358.0),
 ('JAY ST-METROTEC', 20545.0),
 ('BOWLING GREEN', 20500.0),
 ('125 ST', 18639.0),
 ('BEDFORD AV', 18575.0),
 ('JAMAICA CENTER', 18368.0),
 ('WALL ST', 18202.0),
 ('BOROUGH HALL', 18079.0),
 ('145 ST', 16984.0),
 ('49 ST', 16611.5),
 ('GRAND ST', 15912.0),
 ('SPRING ST', 14329.0),
 ('51 ST', 14148.0),
 ('CHURCH AV', 13451.0),
 ('CANAL ST', 12710.0),
 ('1 AV', 12469.0),
 ('168 ST', 12250.0),
 ('CROWN HTS-UTICA', 11620.0),
 ('SUTPHIN-ARCHER', 11532.0),
 ('JUNCTION BLVD', 10926.0),
 ('PRINCE ST', 10779.0),
 ('KINGS HWY', 10528.0),
 ('BROOKLYN BRIDGE', 10115.0),
 ('82 ST-JACKSON H', 10079.0),
 ('DEKALB AV', 10058.0),
 ('2 AV', 9995.0),
 ('WORLD TRADE CTR', 9933.0),
 ('NOSTRAND AV', 9671.0),
 ('8 ST-NYU', 9560.0),
 ('28 ST', 9106.0),
 ('5 AVE', 9099.0),
 ('RECTOR ST', 8744.0),
 ('103 ST-CORONA', 8268.0),
 ('COURT SQ', 8203.0),
 ('ASTORIA DITMARS', 8175.0),
 ('MYRTLE-WYCKOFF', 8058.0),
 ('57 ST-7 AV', 7893.0),
 ('167 ST', 7851.0),
 ('FORDHAM RD', 7623.0),
 ('VERNON-JACKSON', 7575.5),
 ('161/YANKEE STAD', 7522.0),
 ('STEINWAY ST', 7230.5),
 ('LEXINGTON AV/63', 6997.5),
 ('BLEECKER ST', 6969.0),
 ('30 AV', 6705.0),
 ('3 AV-149 ST', 6435.5),
 ('JAMAICA 179 ST', 6404.0),
 ('46 ST BLISS ST', 6190.0),
 ('181 ST', 6043.0),
 ('EAST BROADWAY', 5941.0),
 ('NEVINS ST', 5889.0),
 ('34 ST-HUDSON YD', 5855.0),
 ('BRIGHTON BEACH', 5762.0),
 ('BROADWAY', 5688.5),
 ('63 DR-REGO PARK', 5686.5),
 ('GRAND-NEWTOWN', 5671.0),
 ('HOYT-SCHER', 5586.0),
 ('90 ST-ELMHURST', 5563.0),
 ('72 ST', 5544.5),
 ('ASTORIA BLVD', 5444.0),
 ('96 ST', 5392.0),
 ('175 ST', 5313.0),
 ('33 ST-RAWSON ST', 5298.0),
 ('QUEENSBORO PLZ', 5285.0),
 ('110 ST', 5173.0),
 ('40 ST LOWERY ST', 5169.0),
 ('111 ST', 5096.0),
 ('HIGH ST', 5089.0),
 ('ST. GEORGE', 5044.0),
 ('149/GRAND CONC', 4911.0),
 ('18 ST', 4785.0),
 ('GREENPOINT AV', 4740.0),
 ('135 ST', 4606.5),
 ('PROSPECT PARK', 4506.0),
 ('169 ST', 4407.0),
 ('HOYT ST', 4364.0),
 ('CENTRAL PK N110', 4351.0),
 ('191 ST', 4344.0),
 ('BROADWAY JCT', 4330.0),
 ('4AV-9 ST', 4308.0),
 ('21 ST-QNSBRIDGE', 4305.0),
 ('GRAHAM AV', 4121.0),
 ('3 AV', 4089.0),
 ('CARROLL ST', 4057.0),
 ('OZONE PK LEFFRT', 4019.0),
 ('NASSAU AV', 3873.0),
 ('CITY HALL', 3778.0),
 ('NASSAU ST', 3774.0),
 ('170 ST', 3760.0),
 ('FRANKLIN AV', 3684.5),
 ('ROOSEVELT ISLND', 3622.0),
 ('BURNSIDE AV', 3588.0),
 ('18 AV', 3581.0),
 ('CASTLE HILL AV', 3410.5),
 ('UNION ST', 3218.0),
 ('36 AV', 3197.0),
 ('HALSEY ST', 3120.0),
 ('COURT SQ-23 ST', 3111.0),
 ('BEDFORD-NOSTRAN', 3106.0),
 ('52 ST', 3042.0),
 ('67 AV', 3036.0),
 ('PARSONS BLVD', 3036.0),
 ('WESTCHESTER SQ', 2997.0),
 ('ELMHURST AV', 2975.0),
 ('4 AV-9 ST', 2919.0),
 ('CHRISTOPHER ST', 2884.0),
 ('SARATOGA AV', 2875.0),
 ('NEW LOTS AV', 2864.0),
 ('GRANT AV', 2772.0),
 ('SUTTER AV-RUTLD', 2761.0),
 ('PELHAM BAY PARK', 2715.0),
 ('MORISN AV/SNDVW', 2707.0),
 ('ROCKAWAY AV', 2687.0),
 ('EASTN PKWY-MUSM', 2681.0),
 ('FAR ROCKAWAY', 2681.0),
 ('SMITH-9 ST', 2681.0),
 ('MORGAN AV', 2671.0),
 ('MONTROSE AV', 2666.0),
 ('CLASSON AV', 2650.0),
 ('CLARK ST', 2637.0),
 ('KINGSTON-THROOP', 2617.0),
 ('PROSPECT AV', 2606.0),
 ('74 ST-BROADWAY', 2602.0),
 ('CLINTON-WASH AV', 2600.0),
 ('DYCKMAN ST', 2575.0),
 ('BAY RIDGE AV', 2540.0),
 ('GRAND ARMY PLAZ', 2537.5),
 ('53 ST', 2486.5),
 ('FULTON ST', 2464.0),
 ('V.CORTLANDT PK', 2457.0),
 ('BAY RIDGE-95 ST', 2366.0),
 ('231 ST', 2331.0),
 ('JEFFERSON ST', 2309.0),
 ('207 ST', 2303.0),
 ('PARK PLACE', 2243.0),
 ('EUCLID AV', 2238.0),
 ('STERLING ST', 2214.0),
 ('MT EDEN AV', 2156.0),
 ('BOWERY', 2133.0),
 ('KINGSTON AV', 2098.0),
 ('81 ST-MUSEUM', 2096.0),
 ('PRESIDENT ST', 2085.0),
 ('AVENUE J', 2080.0),
 ('15 ST-PROSPECT', 2073.0),
 ('BEDFORD PK BLVD', 2015.0),
 ('176 ST', 2005.0),
 ('WILSON AV', 1990.0),
 ('183 ST', 1983.5),
 ('WOODLAWN', 1911.5),
 ('8 AV', 1905.5),
 ('45 ST', 1864.0),
 ('ST LAWRENCE AV', 1829.0),
 ('BERGEN ST', 1813.0),
 ('25 ST', 1766.0),
 ('HARLEM 148 ST', 1737.0),
 ('77 ST', 1732.0),
 ('174-175 STS', 1719.0),
 ('VAN SICLEN AV', 1684.0),
 ('WOODHAVEN BLVD', 1648.0),
 ('AVENUE M', 1647.5),
 ('BRIARWOOD', 1603.0),
 ('MARBLE HILL-225', 1569.0),
 ('BEVERLEY ROAD', 1556.0),
 ('W 8 ST-AQUARIUM', 1535.0),
 ('CORTELYOU RD', 1519.0),
 ('138/GRAND CONC', 1516.0),
 ('71 ST', 1496.5),
 ('39 AV', 1486.5),
 ('79 ST', 1459.0),
 ('CANARSIE-ROCKAW', 1419.0),
 ('PENNSYLVANIA AV', 1417.0),
 ('20 AV', 1386.0),
 ('190 ST', 1360.0),
 ('METROPOLITAN AV', 1353.0),
 ('AVENUE H', 1291.5),
 ('75 ST-ELDERTS', 1251.0),
 ('OCEAN PKWY', 1235.0),
 ('182-183 STS', 1218.0),
 ('85 ST-FOREST PK', 1208.5),
 ('NECK RD', 1199.0),
 ('BEACH 67 ST', 1155.0),
 ('GUN HILL RD', 1151.0),
 ('BEACH 25 ST', 967.0),
 ('BEACH 60 ST', 964.0),
 ('WHITLOCK AV', 919.0),
 ('AVENUE X', 896.0),
 ('6 AV', 835.0),
 ('BEVERLY RD', 813.0),
 ('BUSHWICK AV', 808.0),
 ('55 ST', 802.0),
 ('AQUEDUCT RACETR', 768.0),
 ('PAVONIA/NEWPORT', 767.0),
 ('215 ST', 716.5),
 ('104 ST', 676.0),
 ('JUNIUS ST', 648.0),
 ('9TH STREET', 594.5),
 ('75 AV', 592.0),
 ('ATLANTIC AV', 583.0),
 ('CYPRESS HILLS', 531.0),
 ('BEACH 36 ST', 521.0),
 ('THIRTY THIRD ST', 508.0),
 ('GROVE STREET', 480.0),
 ('AVENUE P', 473.0),
 ('PATH WTC', 437.5),
 ('121 ST', 425.0),
 ('PATH WTC 2', 364.5),
 ('BEACH 44 ST', 354.0),
 ('PATH NEW WTC', 337.0),
 ('NEWARK HM HE', 330.0),
 ('JOURNAL SQUARE', 271.0),
 ('EXCHANGE PLACE', 199.5),
 ('14TH STREET', 199.0),
 ('LACKAWANNA', 181.0),
 ('CITY / BUS', 164.0),
 ('TWENTY THIRD ST', 136.0),
 ('225 ST', 118.0),
 ('NEWARK BM BW', 116.0),
 ('36 ST', 91.0),
 ('THIRTY ST', 67.0),
 ('HARRISON', 61.5),
 ('JFK JAMAICA CT1', 19.0),
 ('AVENUE I', 13.5),
 ('NEWARK HW BMEBE', 13.0),
 ('PARKCHESTER', 12.0),
 ('137 ST CITY COL', 11.0),
 ('HUNTS POINT AV', 10.0),
 ('NEWARK C', 9.0),
 ('ORCHARD BEACH', 8.0),
 ('NORWOOD AV', 3.0),
 ('80 ST', 1.0)]

In [369]:
#Visualize the data
new_df = pd.DataFrame()
new_df['locations'] = [x[0] for x in eight_sorted_totals]
new_df['total density'] = [x[1] for x in eight_sorted_totals] 
#new_df['density by time'] = eight_sorted_totals
new_df['proposed number targeted'] = round(0.02*new_df['total density'])
new_df['proposed sales people'] = round(new_df['proposed number targeted']/(240/5)) #5minutes per person-4hr window
new_df['high priced restaurants'] = [value for key,value in res_dict.items()]
new_df['number people from nearby restaurants'] = ((250/2)*new_df['high priced restaurants'])
#new_df['proposed number targeted'] = round(0.05*new_df["total density"])
new_df['high priced restaurants'] = [value for key,value in res_dict.items()]
#new_df['number people from nearby restaurants'] = round(((250/2)*new_df['high priced restaurants']))
new_df['percentage from restaurants'] = new_df['number people from nearby restaurants']/new_df['total density']
new_df['proposed number donations'] = round(new_df['percentage from restaurants']*new_df['proposed number targeted']*0.20)

# 250 customers in restraunt at least half come from MTA, at least 50% come from MTA, since nobody wants to drive 
new_df

,locations,total density,proposed number targeted,proposed sales people,high priced restaurants,number people from nearby restaurants,percentage from restaurants,proposed number donations
0,34 ST-HERALD SQ,75462.0,1509.0,31.0,25,3125.0,0.041412,12.0
1,34 ST-PENN STA,71010.0,1420.0,30.0,12,1500.0,0.021124,6.0
2,TIMES SQ-42 ST,62494.0,1250.0,26.0,14,1750.0,0.028003,7.0
3,GRD CNTRL-42 ST,44397.0,888.0,18.0,5,625.0,0.014078,3.0
4,23 ST,42063.5,841.0,18.0,10,1250.0,0.029717,5.0
5,47-50 STS ROCK,41853.0,837.0,17.0,1,125.0,0.002987,0.0
6,59 ST COLUMBUS,38911.0,778.0,16.0,15,1875.0,0.048187,7.0
7,59 ST,37528.0,751.0,16.0,5,625.0,0.016654,3.0
8,86 ST,34716.0,694.0,14.0,5,625.0,0.018003,2.0
9,CHAMBERS ST,34674.0,693.0,14.0,5,625.0,0.018025,2.0
10,42 ST-BRYANT PK,31122.0,622.0,13.0,14,1750.0,0.056230,7.0
11,FLUSHING-MAIN,29207.5,584.0,12.0,34,4250.0,0.145511,17.0
12,50 ST,28638.0,573.0,12.0,8,1000.0,0.034919,4.0
13,LEXINGTON AV/53,25864.0,517.0,11.0,15,1875.0,0.072495,7.0
14,ATL AV-BARCLAY,25023.0,500.0,10.0,10,1250.0,0.049954,5.0
15,42 ST-PORT AUTH,24921.0,498.0,10.0,14,1750.0,0.070222,7.0
16,JKSN HT-ROOSVLT,23115.0,462.0,10.0,18,2250.0,0.097339,9.0
17,14 ST,22358.0,447.0,9.0,7,875.0,0.039136,3.0
18,JAY ST-METROTEC,20545.0,411.0,9.0,13,1625.0,0.079095,7.0
19,BOWLING GREEN,20500.0,410.0,9.0,1,125.0,0.006098,0.0
20,125 ST,18639.0,373.0,8.0,7,875.0,0.046945,4.0
21,BEDFORD AV,18575.0,372.0,8.0,13,1625.0,0.087483,7.0
22,JAMAICA CENTER,18368.0,367.0,8.0,24,3000.0,0.163328,12.0
23,WALL ST,18202.0,364.0,8.0,6,750.0,0.041204,3.0
24,BOROUGH HALL,18079.0,362.0,8.0,21,2625.0,0.145196,11.0
25,145 ST,16984.0,340.0,7.0,21,2625.0,0.154557,11.0
26,49 ST,16611.5,332.0,7.0,15,1875.0,0.112874,7.0
27,GRAND ST,15912.0,318.0,7.0,9,1125.0,0.070701,4.0
28,SPRING ST,14329.0,287.0,6.0,16,2000.0,0.139577,8.0
29,51 ST,14148.0,283.0,6.0,30,3750.0,0.265055,15.0
...,...,...,...,...,...,...,...,...
217,THIRTY THIRD ST,508.0,10.0,0.0,0,0.0,0.000000,0.0
218,GROVE STREET,480.0,10.0,0.0,9,1125.0,2.343750,5.0
219,AVENUE P,473.0,9.0,0.0,4,500.0,1.057082,2.0
220,PATH WTC,437.5,9.0,0.0,10,1250.0,2.857143,5.0
221,121 ST,425.0,8.0,0.0,34,4250.0,10.000000,16.0
222,PATH WTC 2,364.5,7.0,0.0,5,625.0,1.714678,2.0
223,BEACH 44 ST,354.0,7.0,0.0,40,5000.0,14.124294,20.0
224,PATH NEW WTC,337.0,7.0,0.0,10,1250.0,3.709199,5.0
225,NEWARK HM HE,330.0,7.0,0.0,3,375.0,1.136364,2.0
226,JOURNAL SQUARE,271.0,5.0,0.0,5,625.0,2.306273,2.0
227,EXCHANGE PLACE,199.5,4.0,0.0,12,1500.0,7.518797,6.0
228,14TH STREET,199.0,4.0,0.0,9,1125.0,5.653266,5.0
229,LACKAWANNA,181.0,4.0,0.0,2,250.0,1.381215,1.0
230,CITY / BUS,164.0,3.0,0.0,0,0.0,0.000000,0.0
231,TWENTY THIRD ST,136.0,3.0,0.0,2,250.0,1.838235,1.0
232,225 ST,118.0,2.0,0.0,29,3625.0,30.720339,12.0
233,NEWARK BM BW,116.0,2.0,0.0,5,625.0,5.387931,2.0
234,36 ST,91.0,2.0,0.0,11,1375.0,15.109890,6.0
235,THIRTY ST,67.0,1.0,0.0,4,500.0,7.462687,1.0
236,HARRISON,61.5,1.0,0.0,0,0.0,0.000000,0.0
237,JFK JAMAICA CT1,19.0,0.0,0.0,20,2500.0,131.578947,0.0
238,AVENUE I,13.5,0.0,0.0,6,750.0,55.555556,0.0
239,NEWARK HW BMEBE,13.0,0.0,0.0,40,5000.0,384.615385,0.0
240,PARKCHESTER,12.0,0.0,0.0,6,750.0,62.500000,0.0
241,137 ST CITY COL,11.0,0.0,0.0,23,2875.0,261.363636,0.0
242,HUNTS POINT AV,10.0,0.0,0.0,19,2375.0,237.500000,0.0
243,NEWARK C,9.0,0.0,0.0,27,3375.0,375.000000,0.0
244,ORCHARD BEACH,8.0,0.0,0.0,22,2750.0,343.750000,0.0
245,NORWOOD AV,3.0,0.0,0.0,10,1250.0,416.666667,0.0
246,80 ST,1.0,0.0,0.0,12,1500.0,1500.000000,0.0

In [370]:
temp = new_df[((new_df['proposed number donations'] >= 15.0) & (new_df['percentage from restaurants'] < 1.0) &  (new_df['proposed number targeted'] > 20))]
test = temp.sort_values(by=['proposed number donations'], ascending=False)
test

,locations,total density,proposed number targeted,proposed sales people,high priced restaurants,number people from nearby restaurants,percentage from restaurants,proposed number donations
62,3 AV-149 ST,6435.5,129.0,3.0,37,4625.0,0.718670,19.0
69,BRIGHTON BEACH,5762.0,115.0,2.0,38,4750.0,0.824367,19.0
54,167 ST,7851.0,157.0,3.0,36,4500.0,0.573175,18.0
57,161/YANKEE STAD,7522.0,150.0,3.0,36,4500.0,0.598245,18.0
86,149/GRAND CONC,4911.0,98.0,2.0,37,4625.0,0.941763,18.0
11,FLUSHING-MAIN,29207.5,584.0,12.0,34,4250.0,0.145511,17.0
38,KINGS HWY,10528.0,211.0,4.0,33,4125.0,0.391812,17.0
47,5 AVE,9099.0,182.0,4.0,34,4250.0,0.467084,17.0
49,103 ST-CORONA,8268.0,165.0,3.0,35,4375.0,0.529149,17.0
55,FORDHAM RD,7623.0,152.0,3.0,34,4250.0,0.557523,17.0
90,PROSPECT PARK,4506.0,90.0,2.0,35,4375.0,0.970928,17.0
58,STEINWAY ST,7230.5,145.0,3.0,31,3875.0,0.535924,16.0
29,51 ST,14148.0,283.0,6.0,30,3750.0,0.265055,15.0
35,SUTPHIN-ARCHER,11532.0,231.0,5.0,30,3750.0,0.325182,15.0
51,ASTORIA DITMARS,8175.0,164.0,3.0,30,3750.0,0.458716,15.0

In [360]:

test["locations"]

62        3 AV-149 ST
69     BRIGHTON BEACH
54             167 ST
57    161/YANKEE STAD
86     149/GRAND CONC
11      FLUSHING-MAIN
38          KINGS HWY
47              5 AVE
49      103 ST-CORONA
55         FORDHAM RD
90      PROSPECT PARK
58        STEINWAY ST
29              51 ST
35     SUTPHIN-ARCHER
51    ASTORIA DITMARS
Name: locations, dtype: object